#App {
  text-align: center;
}

#App button, input {
  font-family: 'Lato', sans-serif;
}

#App button {
  padding: 0 15px;
  color: #343a40;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  border: 1px black solid;
  min-height: 30px;
  cursor: pointer;
}

#App input {
  box-sizing: border-box;
  padding: 7px;
  vertical-align: middle;
  border: 1px #343a40 solid;
  box-shadow: inset 0 1px 1px #eee;
}

#App header {
  //background-color: #262626;
  background-color: #343a40;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 0.8vw);
  color: white;
  border: 1px #444 solid;
  margin-bottom: 30px;
}

#App header .logo {
  height: 50px;
  pointer-events: none;
  margin: 5px;
}

#App header a {
  margin: 0 30px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: calc(9px + 0.9vmin);
}
